* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    width: 100%;
    overflow-x: hidden;
    color: #707070;
    font-family: "open sans";
}

a {
    text-decoration: none;
    color: #707070;
    font-size: 16px;
}

ul , li {
    list-style-type: none;
}

/* =============Comman-Css================== */

.btn {
    color: #fff;
    background: linear-gradient(to top, #B576F6, #C18CF8);
    padding: 8px 20px;
    border-radius: 2px;
    margin: 15px 0;
    display: inline-block;
}

.btn-big {
    padding: 10px 35px;
}

input {
    border: none;
    box-shadow: 0 0 4px #ccc;
    padding: 10px 15px;
    

}

input:focus {
    outline: none;
    box-shadow: 0 0 8px #ccc;
}

.form-field p{
   margin-bottom: 7px;
   font-size: 18px;
   font-weight: 600;
   
}
.form-field input{
        border: none;
        box-shadow: 0 0 4px #ccc;
        padding: 8px 8px;
        
}

button:focus {
    outline: none;
}





/* ===========Side-bar-css-Start============== */

.sidebar-nav {
    width: 250px;
    padding: 15px;
    background-color: #fff;
    height: 100%;
    box-shadow: 0 0 8px rgb(233, 233, 233);
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
}

.logo {
    margin-bottom: 50px;
}

.logo h1 {
    color: #B577F6;
    font-family: "Righteous";
    font-size: 37px;
}

.logo a img {
    width: 50px;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.profile .avtar {
    margin-right: 15px;
}

.profile .name-pos h5 {
    color: #ccc;
}

.side-nav ul li {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding:15px 10px;
    width: 100%;
    transition: .4s;
    cursor: pointer;
}

.side-nav ul li:hover {
    background-color: #B576F6;
    color: #fff;
}

.side-nav ul li:hover a {
    color: #fff;
}

.side-nav ul li span {
    margin-right: 20px;
}

/* ================header-css-Start================= */

header {
    margin-left: 250px;
    padding: 15px;
    box-shadow: 0 0 8px #ccc;
    min-height: 80px;
}

.head-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header form {
    position: relative;
    width: 300px;
    height: 45px;
}

header form input {
    width: 100%;
    height: 100%;
}

header button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    background-color: #B576F6;
}

.right-part ul {
    display: flex;
    align-items: center;
}

.right-part ul li {
    margin-left: 40px;
}

.right-part ul .user {
    display: flex;
    align-items: center;
}

.right-part ul .user h2 {
    font-weight: 400;
    margin-left: 15px;
}

.right-part ul li.notifiaction span,
.right-part ul li span {
    font-size: 22px;
    cursor: pointer;
    position: relative;
}

.right-part ul li.notifiaction span::before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    width: 7px;
    height: 7px;
    border-radius: 20px;
    background-color: #B576F6;
}

/*form*/

/* ===========Main_contant-css-Start================== */

.main_contant {
    margin: 25px;
    margin-left: 275px;
    padding: 15px;
    box-shadow: 0 0 8px rgb(238, 238, 238);
}

.main_contant .bread-crumbs {
    margin-bottom: 20px;
}

.main_contant .bread-crumbs ul li {
    display: flex;
    align-items: center;
}

.main_contant .bread-crumbs ul li span {
    color: #8C31EB;
    margin-right: 10px;
    font-size: 30px;
}

.main_contant .bread-crumbs ul li h3 {
    font-size: 30px;
    color: #ccc;
}

.info_card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.info_card .card {
    padding: 20px;
    background: linear-gradient( to left , #B576F6, #C18CF8);
    color: #fff;
    height: 200px;
    width: 32%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.info_card .card::before,
.info_card .card::after {
    content: "";
    position: absolute;
    bottom: -15%;
    right: -8%;
    width: 150px;
    height: 150px;
    background-color: #fff;
    opacity: 0.2;
    border-radius: 100%;
}

.info_card .card::after {
    bottom: auto;
    top: -15%;
    right: -15%;
}

.info_card .card:nth-child(2) {
    background: linear-gradient(to left, #6AA2E3, #6866E9);
}

.info_card .card:nth-child(3) {
    background: linear-gradient(to left, #FEB683, #FF8993);
}

.info_card .card span {
    font-size: 30px;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 4px #fff;
    margin-bottom: 20px;
}


.info_card .card .number_detail {
    margin-bottom: 10px;
}

.main {
    margin-top: 20px;
    display: grid;
}

.main table thead tr td {
    font-weight: 600;
    color: #000;
    line-height: 60px;
}

/* ===============Jquery-hide-show-class=========== */

.sidebar-nav.hide li a,
.sidebar-nav.hide .name-pos{
    display: none;
}

.sidebar-nav.hide {
    width: 100px;
}

.sidebar-nav.hide li span {
    font-size: 22px;
}

.sidebar-nav .logo a:last-child,
.sidebar-nav.hide .logo a:first-child {
    display: none;
}

.sidebar-nav.hide .logo a:last-child {
    display: block;
    font-size: 50px;
    text-align: center;
}

.slide-left {
    margin-left: 100px;
}



@media screen and (max-width:992px) {
    
    .sidebar-nav {
        left: -250px;
        transition: .4s;
        z-index: 1000;
    }

    .sidebar-nav.hide {
        left: 0;
        width: 250px;
    }

    .sidebar-nav.hide li a,
    .sidebar-nav.hide .name-pos,
    .sidebar-nav.hide .logo h1:first-child {
        display: block;
    }

    .sidebar-nav.hide .logo h1:last-child {
        display: none;
    }

    .logo {
        margin-bottom: 30px;
    }

    header,
    .main_contant {
        margin-left: 0;
    }
    
    .slide-left {
        margin-left: 0;
    }
}


@media screen and (max-width:767px) {
   
    .head-inner .name-pos {
        display: none;
    }

    header form {
        width: 150px;
    }

    header button {
        width: 30%;
    }

    .main table {
        width: 700px;
    }

    .main {
        overflow-x: auto;
    }

    .info_card {
        flex-wrap: wrap;
    }

    .info_card .card {
        width: 49%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:475px) {
    
    .head-inner {
        flex-direction: column-reverse;
    }

    .head-inner .left-part ,
    .head-inner .right-part {
        width: 100%;
        margin-bottom: 15px;
    }

    header form {
        width: 100%;
    }

    header button {
        width: 15%;
    }

    .right-part ul {
        justify-content: space-between;
    }

    .info_card {
        flex-direction: column;
    }
    
    .info_card .card {
        width: 100%;
    }

    .main_contant {
        margin: 0;
    }
}